{% extends "layout.njk" %}

{% block content %}
{% if filter %}
        <h2 class="search">Buscando por "{{filter}}"</h2>
{% endif %}
<section class="recipes">
    {% for recipe in recipes %}
            <div class="card" id="{{recipe.id}}">
                <img src="{{recipe.img}}" alt="">
                <h3>{{recipe.title}}</h3>
                <p>por {{recipe.chef_name}}</p>
            </div>
    {% endfor %}
</section>
{% endblock content %}