<section class="user form-fields">

        <div class="single-field">
                <label for="name">Nome</label>
                <input type="text" name="name" id="first" value="{{user.name}}" placeholder="Digite o nome completo">
        </div>

        <div class="single-field">
                <label for="email">Email</label>
                <input type="text" name="email" id="second" value="{{user.email}}" placeholder="Digite o email"
                        onblur="Validate.apply(this, 'isItEmail')">
        </div>

        <div class="check-field">
                <input type="checkbox" name="is_admin" id="checkbox" value="true" {% if user.is_admin %}
                checked {% endif %}}>
                <label for="isAdmin">Administrador</label>
        </div>
</section>
