<section class="user form-fields">

        <div class="single-field">
                <label for="">Nome</label>
                <input type="text" name="name" id="first" value="{{user.name}}" placeholder="Digite o nome completo">
        </div>

        <div class="single-field">
                <label for="">Email</label>
                <input type="text" name="email" id="second" value="{{user.email}}" placeholder="Digite o email">
        </div>

        <div class="check-field">
                <input type="checkbox" name="isAdmin" id="checkbox" value="{{user.isAdmin}}">
                <label for="">Administrador</label>
        </div>
</section>