{% extends "layoutAdmin.njk" %}

{% block content %}
<div id="first-page">
    <div class="header">
        <h3>Usuários</h3>
        <a href="/admin/users/create">Novo</a>
    </div>    
    <div class="cards-users">
    {% for user in users %}
        <div class="user-index">
            <div class="user-info">
                <p>{{user.name}}</p>
                <p>{{user.email}}</p>
                <div class="links">
                    <a href="/admin/users/{{user.id}}/edit">Editar</a>
                    
                    <form action="/admin/users?_method=DELETE" method="post" id="delete-user">
                        <button type="submit">Excluir</button>
                        <input type="hidden" name="id" value={{user.id}}>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}
{% block scripts %}
    <script src="/scripts/delete-sure.js"></script>
{% endblock scripts %}