{% extends "layout.njk" %}

{% block filter %}
    <form id="filterForm" action="/recipes" method="get">
        <input type="text" class="filterField" name="filter" placeholder="Nome da receita" value={{filter}}>
        <button type="submit" class="filterButton">Buscar</button>
    </form>
{% endblock filter %}
{% block content %}
<section class="recipes">
    {% for recipe in recipes %}
            <div class="card" id="{{recipe.id}}">
                <img src="{{recipe.image}}" alt="">
                <h3>{{recipe.title}}</h3>
                <p>{{recipe.author}}</p>
            </div>
    {% endfor %}
</section>
{% endblock content %}