{% extends "layout.njk" %}

{% block content %}
        <div class="wrapper-recipe-page">
            <img src="{{item.image}}" alt="{{item.title}}">
            <div class="titles-recipe-page">
                <h1>{{item.title}}</h1>
                <p>por {{item.chef_name}}</p>
            </div>
            
            <div class="cardText">
            <div class="infos">
                <h3>Ingredientes</h3>
                <p>ESCONDER</p>
            </div>
            <div class="change-space">
                <ul>
                {% for ingredient in item.ingredients %}
                    <li>
                        {{ingredient}}
                    </li>
                {% endfor %}
                </ul>
            </div>
            </div>

            <div class="cardText">
            <div class="infos">
                <h3>Modo de preparo</h3>
                <p>ESCONDER</p>
            </div>
            <div class="change-space">
                <ul>
                {% for prepare in item.preparation %}
                    <li>
                        {{prepare}}
                    </li>
                {% endfor %}
                </ul>
            </div>
            </div>

            <div class="cardText">
            <div class="infos">
                <h3>Informações Adicionais</h3>
                <p>ESCONDER</p>
            </div>
            <div class="change-space" id="information">
                {{item.information}}
            </div>
            </div>
        </div>

            
{% endblock content %}