<section class="form-fields">
        <label for="">Nome</label>
        <input type="text" name="name" id="first" value="{{chef.name}}">

        <label for="">Avatar</label>
        <input type="text" name="avatar_url" id="first" value="{{chef.avatar_url}}" placeholder="https://">
</section>
<script src="/scripts/addPaths.js"></script>
