<section class="form-fields">
        <label for="">Nome da receita</label>
        <input type="text" name="title" id="first" value="{{recipe.title}}" placeholder="Nome da receita">

        <label for="">Autor</label>
        <input type="text" name="author" id="first" value="{{recipe.author}}" placeholder="Nome do autor">

        <label for="">Imagem da Receita</label>
        <input type="text" name="image" id="first" value="{{recipe.image}}">
    
        <label for="">Ingredientes</label>
        <div id="ingredients">
                {% for ingredient in recipe.ingredients %}
                        <div class="ingredient">
                                <input type="text" name="ingredients[]" id="third" value="{{ingredient}}" placeholder="Ingredientes necessários">
                        </div>
                {% endfor %}
        </div>
        <button type="button"  class="add-ingredient">Adicionar novo ingrediente</button>
        
        <label for="">Modo de preparo</label>
        <div id="prepariation-method">
                {% for steps in recipe.preparation %}
                        <div class="methods">
                                <input type="text" name="prepariation[]" id="third" value="{{steps}}" placeholder="Etapas do processo">
                        </div>
                {% endfor %}
        </div>
        <button type="button" class="add-preparation" id="last">Adicionar novo passo</button>

        <label for="">Informações adicionais</label>
        <textarea name="information" id="forth" placeholder="Descrição adicional">{{recipe.information}}</textarea>
</section>
<script src="/scripts/editPath.js"></script>
