<section class="form-fields">
        <label for="">Nome da receita</label>
        <input type="text" name="title" id="first" value="{{recipe.title}}" placeholder="Nome da receita">

        <label for="">Imagens da Receita</label>
        <div id="photos-div">
                <div id="photos-upload">
                        <input 
                                id="photos-input" 
                                type="file" 
                                name="photos"  
                                multiple accept="image/*" 
                                onchange="PhotosUpload.handleFileInput(event)"
                        >
                        <p>+</p>
                </div>
                <div id="photos-preview">
                        {% if files %}
                                {% for image in files %}
                                <div class="photo" id="{{image.id}}">
                                        <img src="{{image.src}}" alt="{{image.name}}">
                                        <i 
                                                class="material-icons"
                                                onclick="PhotosUpload.removeOldPhoto(event)"
                                        >close</i>
                                </div>
                                {% endfor %}
                                <input type="hidden" name="removed_files">
                        {% endif %}
                </div>
        </div>

        <label for="">Chef</label>
        <select name="chef" class="chef" required>
                {% for chef in chefOptions %}
                        <option value="{{chef.id}}" {% if recipe.chef_id == chef.id %}
                        selected {% endif %}>{{chef.name}}</option>
                {% endfor %}
        </select>

        <label for="">Ingredientes</label>
        <div id="ingredients">
                {% for ingredient in recipe.ingredients %}
                        <div class="ingredient">
                                <input type="text" name="ingredients[]" id="third" value="{{ingredient}}" placeholder="Ingredientes necessários">
                        </div>
                {% endfor %}
        </div>
        <button type="button"  class="add-ingredient">Adicionar novo ingrediente</button>
        
        <label for="">Modo de preparo</label>
        <div id="prepariation-method">
                {% for steps in recipe.preparation %}
                        <div class="methods">
                                <input type="text" name="preparation[]" id="third" value="{{steps}}" placeholder="Etapas do processo">
                        </div>
                {% endfor %}
        </div>
        <button type="button" class="add-preparation" id="last">Adicionar novo passo</button>

        <label for="">Informações adicionais</label>
        <textarea name="information" id="forth" placeholder="Descrição adicional">{{recipe.information}}</textarea>
</section>
<script src="/scripts/editPath.js"></script>
