{% extends "layoutAdmin.njk" %}

{% block content %}
<form action="/admin/recipes/{{recipe.id}}/edit" method="get">
    <div class="header-show">
        <h3>Receita: {{recipe.title}}</h3>
        <button type="submit">Editar receita</button>
    </div>
    <div class="food-content">
        <div class="beggining">
            <div class="highlight">
                {% if files[0] %}
                    <img src="{{files[0].src}}" alt="{{files[0].name}}"/>
                {% endif %}
            </div>
            <div class="gallery-preview">
                {% for image in files %}
                    <img 
                        src="{{image.src}}" 
                        alt="{{image.name}}"
                        {% if loop.index0 == 0 %}
                            class="active"
                        {% endif %}
                        onclick="ImageGallery.setImage(event)"    
                    >
                {% endfor %}
            </div>
            <h1>{{recipe.title}}</h1>
            <h3>por {{recipe.chef_name}}</h3>
        </div>
        <div class="steps">
            <h3>Ingredientes</h3>
            <ul>
                {% for ingridient in recipe.ingredients %}
                    <li>{{ingridient}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="steps">
            <h3>Modo de preparo</h3>
            <ul>
                {% for step in recipe.preparation %}
                    <li>{{step}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="info">
            <h3>Informações adicionais</h3>
            <p>{{recipe.information}}</p>
        </div>        
    </div>
</form>
{% endblock content %}

{% block scripts %}
<script src="/scripts/script.js"></script>
{% endblock scripts %}