/* USER REGISTRATION */
/* register.njk - title */
form .page .header-page > h3 {
    font-family: 'Roboto', sans-serifs;
    font-weight: 700;
    font-size: 24px;
    color: #111111;
}

/* register.njk - buttons */

form .page .header-page .button-save {
    position: relative;

}

form .page .header-page .button-save button#save {
    position: absolute;
    
    left: 194px;

    cursor: pointer;
}

form .page .header-page .button-cancel {
    position: relative;
}

form .page .header-page .button-cancel a {
    position: absolute;
    right: 0px;

    padding: 9px 20px;
    
    text-decoration: none;
    border-radius: 4px;

    background: #c0c0c0;
    color: white;
}

/* register.njk - fields.njk */
/* user form-fields */
section.user.form-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 94px 1fr;
    grid-gap: 40px;
    grid-row-gap: 24px;
}

section.user.form-fields .single-fields {
    margin-bottom: 0;
}

section.user.form-fields .check-field {
    display: flex;
    max-width: 450px;
}

section.user.form-fields .check-field > input {
    height: 15px;
    width: 15px;

    margin-top: 0;
    margin-right: 8px;
}

/* User - Edit */
.delete-user .button-delete {
    position: relative;
    right: 103px;
}

/* User - index */
#first-page .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#first-page .header a {
    text-decoration: none;
    color: white;
    padding: 9px 36px;

    background-color: #7159C1;
    border-radius: 4px;

}

#first-page .cards-users {
    margin-top: 42px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 194px;
    grid-row-gap: 50px;
}

#first-page .cards-users .user-index {
    display: flex;
    flex-direction: column;
}

#first-page .cards-users .user-index > .user-info p:nth-child(1) {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #111111;
    margin-bottom: 4px;
}

#first-page .cards-users .user-index > .user-info p:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #777777;
    margin-bottom: 12px;
}

#first-page .cards-users .user-index > .user-info .links {
    display: flex;
    align-items: center;
}

#first-page .cards-users .user-index > .user-info .links a,
#first-page .cards-users .user-index > .user-info .links button {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto-bold', sans-serif;
    font-weight: bolder;
}

#first-page .cards-users .user-index > .user-info .links a:first-child {
    color: #6558C3;
    margin-right: 12px;
}

#first-page .cards-users .user-index > .user-info .links button:first-child {
    color: #F55A5A;
    background-color: white;
}