<section class="user form-fields">

    <div class="single-field">
        <label for="">Nome</label>
        <input type="text" name="name" id="first" value="{{user.name}}" placeholder="Digite o nome completo">
    </div>

    <div class="single-field">
        <label for="">Email</label>
        <input type="text" name="email" id="second" value="{{user.email}}" placeholder="Digite o email"
            onblur="Validate.apply(this, 'isItEmail')">
    </div>

    <div class="single-field">
        <label for="">Senha</label>
        <input type="text" name="password" id="second" placeholder="Digite a senha">
    </div>
</section>