{% extends "layoutAdmin.njk" %}

{% block content %}
<form action="/admin/recipes" method="post" enctype="multipart/form-data">
    <div class="page">
        <div class="header-page">
            <h3>Criar Receita</h3>
            <button type="submit">Salvar receita</button>
        </div>
        {% include "admin/recipe/fieldsCreate.njk" %}
    </div>
</form>
{% endblock content %}
{% block scripts %}
    <script src="/scripts/add-path.js"></script>
    <script src="/scripts/add-photo.js"></script>
{% endblock scripts %}