{% extends "layoutAdmin.njk" %}

{% block content %}
<form action="/admin/recipes?_method=DELETE" method="post" id="form-delete">
    <div class="button-delete">
        <button id="delete" type="submit">Deletar</button>
    </div>
    <input type="hidden" name="id" value={{recipe.id}}>
</form>
<form action="/admin/recipes?_method=PUT" method="post" enctype="multipart/form-data">
    <div class="page">
        <div class="header-page">
            <h3>Criando Receita</h3>
            <button type="submit">Salvar receita</button>
        </div>
        {% include "admin/recipe/fieldsEdit.njk" %}
    </div>
    <input type="hidden" name="id" value={{recipe.id}}>
</form>

{% endblock content %}

{% block scripts %}
    <script src="/scripts/edit-path.js"></script> 
{% endblock scripts %}