<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    {% include "parts/styles.njk" %}
    <title>Foodfy</title>
</head>
<body>
    {% include "parts/messages.njk" %}

    {% block header %}
        <header>
            <div id="wrapper-header">
                <a href="/admin/">
                    <img id="margin-img" src="/assets/FoodFy.png" alt="">     
                </a>
                <nav>
                    <a href="/admin/recipes">Receitas</a>
                    <a href="/admin/chefs">Chefs</a>
                    <a href="/admin/users">Usuários</a>
                    <form action="/admin/logout" method="post">
                        <button type="submit">Sair</button>
                    </form>
                </nav>
            </div>
        </header>
    {% endblock header %}
    
    <div class="wrapper">
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        {% block scripts %}
        {% endblock scripts %}
    </div>
</body>
</html>