<link rel="stylesheet" href="/styles/admin/basic-structure.css">
<link rel="stylesheet" href="/styles/admin/messages.css">
<link rel="stylesheet" href="/styles/admin/session.css">
<link rel="stylesheet" href="/styles/admin/user.css">
<link rel="stylesheet" href="/styles/admin/chef.css">
<link rel="stylesheet" href="/styles/admin/recipe.css">